<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="errorFile" fileName="logs/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="infoFile" fileName="logs/info.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="zoo" level="INFO">
            <AppenderRef ref="infoFile" level="INFO"/>
            <AppenderRef ref="STDOUT" level="INFO" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="errorFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>